* { 
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: helvetica,arial,sans-serif;
}
footer, section, header {
	display: block;
	background: darkgreen;
}
section {
	width: 1200px;
	height: 650px;
	position: relative;
	border-width : 3px;
	border-style: solid;
	border-color : black;
}
li {
	position: absolute;
	background-color: red;
	border-width: 2px;
	border-color : white;
	border-style : solid;
	list-style: none;
	color: white;
}
    #normal{
    z-index: 2;
	width: 60px;
	height: 60px;
}
    #kingsize{
    z-index: 2;
	width: 120px;
	height: 120px;
}
    #ouvert{
    z-index: 1;
    width: 1100px;
    height: 650px;